.seting-list {
  width: 330px;
  height: 100%;
  background: #1F1D2B;
  border-radius: 8px;
}


.list-iteam .active{
  border-right: 3px solid #EA7C69 ;
  padding-right: 53px;
  background: #ea7c6942;
}


.list-iteam {
  display: flex;
  align-items: center;
}

.list-tittle {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 4px;
  text-decoration: none;
}


.settings-list{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
}

.list-link{
  display: flex;
  padding: 24px 25px;
}

.list-link svg {
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.list-iteam p {
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #ABBBC2;
}